@import 'src/styles/_vars.scss';

#burgernav {
  .hamburger {
    z-index: 12;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after  {
    background-color: $salmon;
  }
  
  .content-menu {
    background-color: $yellow-lighten;
    width: 150px;
    height: 300px;
    position: fixed;
    border-radius: 2px;
    top: -306px;
    left: 0;
    transition: 0.4s;
    z-index: 9 !important;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    border: 2px solid $salmon;
    background-color: rgb(255, 255, 255);
    ul {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 100px;
        a {
            text-decoration: none;
            font-weight: bold;
            text-align: left;
            font-size: 1.1em;
            margin: 15px 0;
            transition: 0.4s;
            color: $salmon !important;
            &:hover {
                cursor: pointer;
                color: $yellow-lighten !important;
            }
        }
    }
    &.open {
        top: 0;
    }
    
  }
}