.signin-container_names { // The two fields on the same row
  display: flex;
  justify-content: space-between;
  
  div { // each individual input div (nom, prénom)
    width: 45%;
    position: relative;
  }
}


a { // link "j'ai déja mes identifiants"
  color: rgb(242, 212, 121);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}


