@import 'src/styles/_vars.scss';

.signin-container_names { // The two fields on the same row
  display: flex;
  justify-content: space-between;
  
  div { // each individual input div (Prénom, Nom)
    width: 45%;
    position: relative;
  }
}
.panel-error {
  transition: 0.3s;
}
.panel-error {
  background-color: rgba(255, 0, 0, 0.750);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 0;
  width: 300px;
  margin-left: -150px;
  z-index: 10000;
  font-weight: 500;
  .current-error {
    color: white;
    font-size: 0.9em;
    margin: 5px 0;
  }
}

a { // link "j'ai déja mes identifiants"
  color: $yellow;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.signin-password {
  margin-bottom: 1.8em;
}


