@import 'src/styles/_vars.scss';

.signin-container_names { // The two fields on the same row
  display: flex;
  justify-content: space-between;
  
  div { // each individual input div (Prénom, Nom)
    width: 45%;
    position: relative;
  }
}


a { // link "j'ai déja mes identifiants"
  color: $yellow;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}


