@import 'src/styles/_vars.scss';
#profile {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left:-125px;
    width:250px;
    background-color:$beige-lighten;
    padding: 10px 10px 20px 10px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 7px 0px #00000047;
    z-index: 40001;
    .header {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 0.6em;
        margin-bottom: 25px;
        text-align: left;
        padding: 2px;
        background-color: $orange;
        color:white;
        display:inline-block;
    }
    .input-container .input {
        margin-bottom: 20px;
        border: none;
        background-color: $beige-lighten;
    }
    .input-container i {
        color: $beige-lighten;
    }
    .input-container .input:focus {
        margin-bottom: 20px;
        border: none;
        background-color: white;
    }
    .btns {
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .form-button {
        font-size: 14px;
        padding-left:20px;
        padding-right:20px;
    }
    .cancel {
        background-color: #e4d3b4;
        &:hover {
            background-color: #dbc8a6;
        }
    }
}
