form {
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  .form-button {
    background-color: rgb(217, 140, 94);
    color: white;
    border-radius: 4px;
    padding: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    margin-top: 10px;
    transition: 0.4s;
    &:hover {
      background-color: rgb(204, 107, 51);
    }
  }
}