@import 'src/styles/_vars.scss';

#menu {
    position: fixed;
    top: 15px;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    
    .ui.button { // Buttons of the view change : carte / Bâtiments
        background-color: #ffffff;
        color: $salmon;
        border: 2px solid $salmon;
        border-collapse: collapse;
        padding: 7px 12px;
        width: 100px;
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
        &:hover {
            color: $salmon-darken;
            background-color: #fff9ef;
        }
        &.no-border-left {
            border-left: none;
        }
    }
    .search > div > div > input {
        margin-bottom: 0;
    }
    .input-container .input {
        border-color: $salmon-lighten;
        box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.40);
        &:focus {
            border-color: $salmon;
        }
    }
    .search.link.icon {
        right: 10px;
    }
    .ui.item.dropdown { // The menu from the burger
        margin-right: 100px;
        font-size: 1.9em;
        color: #405c78;
        height: 100%;
        width: 2em;
        
    }
    .menu.transition { // i.e. dropdown menu
        border: none;
        box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.40);
        font-size: 1rem;
        font-weight: 700;
        z-index: 1500000;
        &.option {
            z-index: 1500000;
        }
    }

    @media screen and (max-width: 430px) { 
      // For mobile view, the search field is displayed as a button, that becomes an input when focused
      z-index: 401;
        .ui.button { // Buttons carte / bâtiments
            display: none;
        }
        i.search.link.icon { // Icon magnifying glass
            pointer-events: none;
            position: fixed;
            height: inherit;
            top: 31px;
            right: 25px;

        }
        .ui.search > div > div > input { // the search input
            width: 3em;
            &::placeholder {
                opacity: 0;

            }
            & + label { // its label "recherche"
                opacity: 0
            }
            &:focus { // When input is focused, it movez to the center
                width: inherit;
                transform: translateX(calc(-50vw + 50%));

                &::placeholder { 
                  // placheholder appears only when field opened in moble
                    opacity: inherit;
                }

                & + label { // Label while field is focused
                    transform: translate(calc(-50vw + 150%), -13px);
                    opacity: 1;
                }
            }
        }
        // input search when has value (centered)
        .ui.search > div.not-empty > div > input {
          width: inherit;
          transform: translateX(calc(-50vw + 50%));
          & + label { // label stays
            transform: translate(calc(-50vw + 150%), -13px);
            opacity: 1;
          }
        }
        // Icon not displayed when input not empty :
        .ui.search > div.not-empty > i.search.link.icon {
          display: none;
        }

      }
}
