/* Colors */
$yellow:#f2d479;
$yellow-darken: #e4c771;

$beige:#f2e2c4;
$beige-darken: #e9d9bc;

$orange:#f2b56b;
$orange-darken: #e0a760;

$salmon:#d98c5f;
$salmon-darken: #cc6b33;

$brown:#59190b;
$brown-darken: #471408;

$grey: #bfbfbf;
$grey-dark: #6f604c;
