@import 'src/styles/_vars.scss';

body {
  font-family: 'Open Sans', sans-serif;
}

#root {
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $beige; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $salmon; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $salmon-darken; 
}
