.color-1 {
    color:#f2d479;
}
.color-2 {
    color:#f2e2c4;
}
.color-3 {
    color:#f2b56b;
}
.color-4 {
    color:#d98c5f;
}
.color-5 {
    color:#59190b;
}
.bg-color-1 {
    background-color: #f2d479;
}
.bg-color-2 {
    background-color: #f2e2c4;
}
.bg-color-3 {
    background-color: #f2b56b;
}
.bg-color-4 {
    background-color: #d98c5f;
}
.bg-color-5 {
    background-color: #59190b;
}
