@import 'src/styles/_vars.scss';

p {
  font-size: 0.8em;
  text-align: center;
  padding-top: .8em;
  padding-bottom: .5em;
  &.lost-password {
    text-align: left;
    color: rgba(191, 191, 191, 1);
    margin-top: -1.8em;
    margin-bottom: 1.8em;
  }
  &.identification-message {
    transform: translateY(-20px);
  }
}

div#login-pin {
  margin: .8em auto;
  width: 2.4em;
  height: 2.4em;
  background-size: cover;
  p {
    text-transform: uppercase;
    color:  $yellow;
    font-weight: bold;
    transform: translateX(-.5px);
    line-height: 1.2em;
  }
}

button.inverted-colors {
  color: $salmon;
  background-color: $yellow;
  &:hover {
    background-color: $yellow-darken;
  }
}

a:hover {
  color: $yellow-darken;
  cursor: pointer;
}