
p {
  font-size: 0.8em;
  text-align: center;
  padding-top: .8em;
  padding-bottom: .5em;
  &.lost-password {
    text-align: left;
    color: rgba(191, 191, 191, 1);
    margin-top: -.6em;
  }
  &.identification-message {
    transform: translateY(-20px);
  }
}

#password {
  margin-bottom: 10px;
}

div#login-pin {
  margin: .8em auto;
  width: 2.2em;
  height: 2.2em;
  background-size: cover;
  p {
    text-transform: uppercase;
    color:  #f3d479;
    font-weight: bold;
    transform: translateX(-.5px);
  }
}

button.inverted-colors {
  color: rgb(217, 140, 94);
  background-color: #f2d479;
  &:hover {
    background-color: #e4c771;
  }
}

a:hover {
  color: #e4c771;
  cursor: pointer;
}
