#lost-password {
    input {
        margin-bottom: 20px;
    }
    .back {
        font-size: .9em;
    }
    .identification-message {
        font-size:0.9em;
        line-height: 1.4em;
        text-align: justify;
    }
}
